<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de noticias</title>
</head>

<body>
	<h1>Tech</h1>
	<h2>Tech</h2>
	<h5>Tech</h5>
	<img src="./secret.png" alt="Locked" title="Blocked">
	<br>
	<hr>
	<img src='./app/views/tech/cherry.jpg' alt="Cereja1" width="500" height="600">
</body>

</html>